.navbarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 21;
  background-color: white;
  color: #4a6ec9;
  height: 100vh;
  width: 100%;
  .crossIcon {
    position: absolute;
    top: 11px;
    left: 12px;
    font-size: 25px;
    cursor: pointer;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-direction: column;
    li {
      list-style: none;
      font-size: 30px;
      margin: 8px;
      a {
        color: #4a6ec9;
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
