.serviceContainer {
    .ringContainer {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1 {
        margin-bottom: 10px;
      }
    }
  }
  